html{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Rubik;
}

body{
  background: linear-gradient(180deg, #5171B5 0%, rgba(93, 120, 177, 0) 18.11%, rgba(93, 120, 177, 0) 51.44%), #79A7D3;
  text-transform: uppercase;
}

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

/* meny */
nav.header-nav{
  display: flex;
  justify-content: center;
  width: 1196px;
  height: 102px;
  margin: auto;
}

nav.header-nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 110%;

  padding: 0px;
  
  list-style: none;
  color: white;
}

nav.header-nav ul li{
  width: 220px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;

}

nav.header-nav ul li.woordle-logo{
  background-image: url(./img/wordle-logo.svg);
  background-repeat: no-repeat;
  width: 217px;
  height: 110px;
}

nav.header-nav ul a{
  color: inherit;
  text-decoration: none;
}

nav.header-nav ul a:hover {
  color: #ACDEAB;
}

/*====== welcome ======== */

div.welcome-msg{
  transform: translate(0, 25%);

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(180, 214, 246, 0.8);
  width: 466px;
  height: 500px;
  margin: auto;

  border-radius: 5px;

  position: relative;
  z-index: 10;
}

div.welcome-msg a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 71px;
  
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  text-decoration: none;

  border: 2px solid white;
  border-radius: 5px;
}

div.welcome-msg .text-container{
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 78%;
}


div.welcome-msg .text-container h2{

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.1em;
}


div.welcome-msg .text-container p{
  width: 60%;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0.05em;
}

/*============== controll section ==============*/

section#controll{
  transform: translate(0%, -5%);
  background-color: #5D78B1;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 861px;
}

section#controll h2{
  transform: translate(0, 50%);
  
  color: #2E4370;
  font-weight: 700;
  font-size: 70px;
  line-height: 87px;

}

section#controll div.test{
  /* transform: translate(0, 0); */
  display: flex;
  align-items: center;
  height: 60%;
  width: 1196px;
}

div.controll-instruction{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height:  300px;
}


div.controll-instruction img{
  max-width: 100px;
  max-height: 80px;
}

div.controll-instruction h3{
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}
 div.Breaking-line{
  background-color: #21345C;
  min-width: 180px;
  border-radius: 10px;
  min-height: 3px;
}

div.controll-instruction p{
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

/*============== scoreboard section ==============*/
#scoreboard{
  background: rgba(180, 214, 246, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* transform: translate(3%, 0%); */
  
  width: 1196px;
  margin: 150px auto 0 auto ;

  border-radius: 5px;

}

#scoreboard h2{
  transform: translate(0, -50%);
  background: #5D78B1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 466px;
  height: 83px;
  margin: auto;
  
  border-radius: 5px;

  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

#scoreboard ul.score-list{
  padding:0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  
  width: 98%;

  color:white;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  list-style: none;

}

ul.score-list li.score-list-item,
#scoreboard ul.score-headers
{
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

#scoreboard ul.score-headers{
  padding:0;
  width: 100%;

  color:white;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;

  list-style: none;

}


ul.score-list li.score-list-item p{
  text-align: center;
}
