<header>
  {{>meny}}
</header>
<main>
<div class="welcome-msg">
  <div class="text-container">
    <h2>Status: 404</h2>
    <p>Something went worng!</p>
  </div>
  <a href="http://localhost:5080/" id="start-game-btn">Return home</a>
</div>
</main>