<section id="about">
  <div class="about-text-container">
    <h2> about </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Pellentesque quis urna semper.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque quis urna semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque quis urna semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque quis urna semper.
    </p>
  </div>
</section>