<section id="controll">
  <h2>Controlls</h2>
  <div class="logo-container">
    <div class="controll-instruction" > 
      <img src="./public/img/mouse-solid.svg" alt="mouse-logo">
      <h3>click</h3> 
      <div class="Breaking-line"></div>
      <p>
        When the game is created, start with clicking
        once att the middle of the screen to start playing
        </p>
    </div>

    <div class="controll-instruction" > 
      <img src="./public/img/keyboard-solid.svg" alt="keys-logo">
      <h3>keys</h3> 
      <div class="Breaking-line"></div>
      <p>
        You can use the keyboard keys [ A - Z ] to type in your attempt
        to figuring out the hidden Word!
      </p>
    </div>

    <div class="controll-instruction" > 
      <img src="./public/img/backspace-solid.svg" alt="backspace-logo">
      <h3>backspace</h3> 
      <div class="Breaking-line"></div>
      <p id="scoll-down">
        With the backspace keyboard key you can remove one letter at
        the time.
      </p>
    </div>

    <div class="controll-instruction" > 
      <img src="./public/img/enter-logo-solid.svg" alt="enter-logo">
      <h3>enter</h3> 
      <div class="Breaking-line"></div>
      <p>
        When you press Enter you will submit your attempt and the game
        will compare it with the right word, if you guess the right word
        you will win!
      </p>
    </div>

  </div>
</section>