<section id="controll">
  <h2>Controlls</h2>
  <div class="test">
    <div class="controll-instruction" > 
      <img src="./public/img/mouse-solid.svg" alt="mouse-logo">
      <h3>click</h3> 
      <div class="Breaking-line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit. Pellentesque
        </p>
    </div>

    <div class="controll-instruction" > 
      <img src="./public/img/keyboard-solid.svg" alt="keys-logo">
      <h3>keys</h3> 
      <div class="Breaking-line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit. Pellentesque 
      </p>
    </div>

    <div class="controll-instruction" > 
      <img src="./public/img/backspace-solid.svg" alt="backspace-logo">
      <h3>backspace</h3> 
      <div class="Breaking-line"></div>
      <p id="scoll-down">
        Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit. Pellentesque 
      </p>
    </div>

    <div class="controll-instruction" > 
      <img src="./public/img/mouse-solid.svg" alt="enter-logo">
      <h3>enter</h3> 
      <div class="Breaking-line"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit. Pellentesque
      </p>
    </div>

  </div>
</section>