<nav class="header-nav">
  <ul>
    <li><a href="http://localhost:5080/game"> start game </a> </li>
    <li><a href="http://localhost:5080/#scoll-down"> controlls </a> </li>
    <li class="woordle-logo"></li>
    <li ><a href="http://localhost:5080/highscore"> highscore </a></li>
    <li><a href="http://localhost:5080/#about"> about </a></li>
  </ul>
</nav>