  <ul class="score-list"> 
    {{#each scores}}
     <li class="score-list-item"> 
       <p>{{userName}}</p>
       <p>{{wordleWord}}</p>
       <p>{{attempts}}</p>
       <p>{{completeTime}}</p>
     </li>
    {{/each}} 
  </ul>