  <ul class="score-list"> 
    {{#each scores}}
     <li class="score-list-item"> 
       <strong>{{userName}}</strong>
       <span>{{wordleWord}}</span>
       <i>{{completeTime}}</i>
     </li>
    {{/each}} 
  </ul>