<div class="welcome-msg">
  <div class="text-container">
    <h2>WELCOME</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis urna semper.</p>
  </div>
  <a href="http://localhost:5080/game" id="start-game-btn">start game</a>
</div>