* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #79a7d3;
  background: linear-gradient(180deg, #5171b5 0%, rgba(93, 120, 177, 0) 100%),
    #79a7d3;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#user-input {
  display: flex;
  gap: 20px;
}

.letter-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;

  width: 80px;
  height: 80px;

  background: #ffffff;
  border: 1px solid #a4a4a4;

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  list-style: none;
}
