* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;

}

body {
  background-color: #79a7d3;
  background: linear-gradient(180deg, #5171b5 0%, rgba(93, 120, 177, 0) 100%),
    #79a7d3;
  background-repeat: no-repeat;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*==================== gamebard ===================*/
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.attempt-window{
  display: flex;
  flex-direction: column-reverse;
  height: 500px;
  padding: 0 20px;

  overflow: hidden;
}


.attempt-row{
  display: flex;
  margin: 10px 0px;
  gap: 20px;
}

#user-input {
  border-top: 2px solid #344D80;
  padding-top: 25px;
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.letter-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;

  width: 80px;
  height: 80px;

  background: #ffffff;
  border: 1px solid #a4a4a4;

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  list-style: none;
}

li.misplaced{
  background-color: #FAF1A0;
}
li.correct{
  background-color: #ACDEAB;
}


/*=========== header =============*/

/* meny */

header{
  width: 100%;
  display: flex;
  justify-content: center;
}
nav.header-nav{
  margin: auto;
  display: flex;
  justify-content: center;

  margin-bottom: 100px;
}

nav.header-nav ul.header-ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;


  
  list-style: none;
  color: white;
}

nav.header-nav ul li{
  width: 217px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;

}

nav.header-nav ul li.woordle-logo{
  /* margin:0 100px; */
  background-image: url(D:\Programmering\Lernia\wordle\frontend\public\wordle-logo.svg);
  background-repeat: no-repeat;
  width: 217px;
  height: 100px;
}
nav.header-nav ul .exit-btn{
  position: absolute;
  right: -15%;

  color: white;
  font-size: 25px;
  font-weight: 400;

  background: none;
  border: none;
}

nav.header-nav ul .exit-btn:hover{
  cursor: pointer;
  color:#ACDEAB;
}

/* ================ create game =============== */

.game-settings{
  position: relative;
  background: rgba(180, 214, 246, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;

  padding: 20px;
  margin: auto;

  color: white;

  border-radius: 5px;
}

.game-settings h2{
  background-color: #5171b5;
  padding: 20px;
  border-radius: 5px;

  position: absolute;
  top: -10%;
}
.game-settings button{
  background-color: #8ec68d;
  width: 250px;
  height: 50px;
  margin-top: 25px;

  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px; 
  
  border: 2px solid white;
  border-radius: 5px;
}

.game-settings button:hover{
  background-color: #eaeaea;
  color: black;
  cursor: pointer;
}

.select-word-length label, 
.select-word-chars label{
  display: inline-block;
  margin: 10px;
  font-size: 22px; 
  letter-spacing: 2px;
}
.select-word-length select{
  width: 60px;
  height: 25px;
}

.select-word-chars input{
  width: 20px;
  height: 20px;
}

/*=================  Send score  ===================*/
.submit-score-form{
  position: relative;
  background: rgba(180, 214, 246, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 350px;

  padding: 20px;
  margin: auto;

  color: white;

  border-radius: 5px;

}

.submit-score-form h2{
  background-color: #5171b5;
  padding: 20px;
  border-radius: 5px;

  position: absolute;
  top: -10%;
}

.submit-score-form .text-container{
 width: 80%;
}

.submit-score-form .text-container p {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.submit-score-form .buttons{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.submit-score-form .buttons button{
  background-color: #db2647;
  border: 2px solid white;
  border-radius: 5px;
  width: 170px;
  padding: 10px 0;

  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
.submit-score-form .buttons button:nth-child(2){
  background-color: #8ec68d;
  color: white;
}
.submit-score-form .buttons button:hover{
  background-color: #eaeaea;
  color: black;
  cursor: pointer;
}



.submit-score-form input{
  padding: 10px;
  width: 80%;
  margin: 15px 0;
  border: 2px solid rgb(122, 122, 122);
  border-radius: 5px;

}